/**
 *  This file imports all required styles
 */
/**
 *  This file holds the stylings for the navigation menu
 */
.header {
  display: grid;
  grid-template-columns: min-content auto;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  opacity: 0.88;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}
.header .header-logo {
  padding: 0.5rem 2rem;
}
.header .header-logo img {
  max-height: 45px;
}
/**
 *  This file holds the stylings for the navigation menu
 */
.header-nav .header-nav-menu {
  float: right;
  display: flex;
  align-items: center;
}
.header-nav .header-nav-menu li {
  padding: 1rem;
}
.header-nav .header-nav-menu li a {
  color: #444950;
  font-weight: 500;
  font-size: 18px;
  font-family: Helvetica;
}
/**
 *  This file holds the stylings for the navigation menu that is shown on mobile
 */
.mobile-nav-toggle {
  justify-self: right;
  padding: 1rem;
  color: black;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}
@media (max-width: 960px) {
  .mobile-nav-toggle #mobile-nav-toggle {
    display: inline;
  }
  .mobile-nav-toggle #nav-menu-container {
    display: none;
  }
}
/**
 *  This file holds all colors used in the website
 */
/**
 *  This file holds all the common sizes
 */
/**
 *  This file holds the stylings for the containers
 */
.dev-container {
  height: 100%;
  padding: 0 2rem;
}
.content {
  height: 100%;
}
/**
 *  This file holds the stylings for the index page
 */
.index {
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
