<div class="col single-fact">
    <h2>
        <img src="img/team/ebruni1.jpg" alt="">
            <a href="#">
                <h4>Elia Bruni</h4>
            </a>
            <p>
                CEO
            </p>
    </h2>
</div>
<div class="col single-fact">
    <h2>
        <img src="img/team/dfacchin.jpg" alt="">
            <a href="#">
                <h4>Daniele Facchin</h4>
            </a>
            <p>
                CTO
            </p>
    </h2>
</div>
<div class="col single-fact">
    <h2>
        <img src="img/team/oligthart.jpeg" alt="">
            <a href="#">
                <h4>Oscar Ligthart</h4>
            </a>
            <p>
                Head of AI
            </p>
    </h2>
</div>
<div class="col single-fact">
    <h2>
        <img src="img/team/fdallago.jpg" alt="">
            <a href="#">
                <h4>Florian Dallago</h4>
            </a>
            <p>
                Mechanical Engineer
            </p>
    </h2>
</div>

<div class="col single-fact">
    <h2>
        <img src="img/team/mregolini.jpeg" alt="">
            <a href="#">
                <h4>Martin Regolini</h4>
            </a>
            <p>
                Mechatronic Engineer
            </p>
    </h2>
</div>

<div class="col single-fact">
    <h2>
        <img src="img/team/leshuijs.jpg" alt="">
            <a href="#">
                <h4>Leon Eshuijs</h4>
            </a>
            <p>
                AI Engineer
            </p>
    </h2>
</div>
<div class="col single-fact">
    <h2>
        <img src="img/team/fbrongers.jpg" alt="">
            <a href="#">
                <h4>Frank Brongers</h4>
            </a>
            <p>
                AI Engineer
            </p>
    </h2>
</div>