/**
 *  This file imports all required styles
 */
/**
 *  This file holds the stylings for the navigation menu
 */
.header {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  /* background-color: #ffffff; */
  border-bottom: 1px solid #eeeeee;
  opacity: 0.88;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}
.header .header-logo {
  padding: 0.5rem 3rem;
}
.header .header-logo img {
  max-height: 45px;
}
@media screen and (max-width: 880px) {
  .header .header-logo {
    padding: 0.5rem 1rem;
  }
}
/**
 *  This file holds the stylings for the navigation menu
 */
.header-nav .header-nav-menu {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}
.header-nav .header-nav-menu li {
  padding: 1rem;
}
.header-nav .header-nav-menu li a {
  color: #444950;
  font-weight: 500;
  font-size: 18px;
  font-family: Helvetica;
}
/** 
 *  These are the styles for the dropdown menu shown when a user is on a mobile phone
 */
.header-dropdown {
  display: flex;
  justify-content: flex-end;
}
.header-dropdown svg {
  cursor: pointer;
  float: right;
  padding: 1rem;
  font-size: 25px;
}
.header-dropdown-menu {
  grid-column: 1 / -1;
}
.header-dropdown-menu li {
  text-align: right;
}
.header-dropdown-menu li a {
  padding: 0.5rem;
  color: #444950;
  font-weight: 500;
  font-size: 18px;
  font-family: Helvetica;
  display: block;
}
/**
 *  This file holds the stylings for the navigation menu
 */
.footer {
  height: 3rem;
  background-color: #C9CCD1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .footer-text {
  color: #444950;
  font-size: 15px;
}
/**
 *  This file holds all colors used in the website
 */
/**
 *  This file holds all the common sizes
 */
/**
 *  This file holds the stylings for the containers
 */
.container {
  min-height: 100vh;
  padding: 0 2rem;
  margin-bottom: 1rem;
}
.content {
  min-height: 100%;
}
/** 
 *  These are the standard styles we will apply to list elements
 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #777777;
  background-color: #F7F8F7;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625em;
  position: relative;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* get rid of this later */
html,
body {
  height: 100%;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}
img {
  vertical-align: middle;
  border-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica;
  color: #444950;
  line-height: 1.2em !important;
}
p {
  font-family: Helvetica;
  color: #444950;
}
/**
 *  This file holds the stylings for a generic page
 *  It shows a page title and centers the content 
 */
.page {
  display: grid;
  grid-template-rows: 12rem auto;
  align-items: center;
}
.page .page-title {
  margin-left: 4rem;
}
.page .page-title h1 {
  padding-top: 1rem;
  font-size: 50px;
  margin-bottom: 0;
}
.page .page-content {
  justify-self: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .page .page-content {
    width: 65%;
  }
}
@media screen and (max-width: 800px) {
  .page .page-title {
    justify-self: center;
    margin-left: 0;
  }
}
/**
 *  This file holds the custom classes
 */
.center {
  text-align: center;
}
/**
 *  Animation for sliding left
 */
.slide-left-enter {
  transform: translateX(100%);
}
.slide-left-enter.slide-left-enter-active {
  transform: translateX(0%);
  transition: transform 2000ms ease-in-out;
  -webkit-transition: transform 2000ms ease-in-out;
  -o-transition: transform 2000ms ease-in-out;
  -moz-transition: transform 2000ms ease-in-out;
}
/**
 *  Animation for sliding right
 */
.slide-right-enter {
  transform: translateX(-100%);
}
.slide-right-enter.slide-right-enter-active {
  transform: translateX(0%);
  transition: transform 2000ms ease-in-out;
  -webkit-transition: transform 2000ms ease-in-out;
  -o-transition: transform 2000ms ease-in-out;
  -moz-transition: transform 2000ms ease-in-out;
}
/**
 *  This file holds the stylings for the index page
 */
.index {
  height: 100%;
}
.index .index-content {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index .index-content .index-content-text {
  padding: 2.5rem;
  width: 45%;
  opacity: 0.95;
  color: #444950;
  background: #6aa84fff;
  background: #BBD9AB;
}
.index .index-content .index-content-text h2 {
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  font-size: 45px;
  font-weight: normal;
}
.index .index-content .index-content-text h4 {
  margin-top: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: normal;
}
/**
 *  These are the styles for the index page on mobile
 */
.index-mobile {
  background-color: #F7F8F7;
}
.index-mobile .index-mobile-image {
  width: 100%;
  height: 100%;
}
.index-mobile .index-mobile-image img {
  width: 100%;
  height: 100%;
}
.index-mobile .index-mobile-landing {
  position: relative;
  color: white;
}
.index-mobile .index-mobile-landing .index-mobile-landing-box {
  will-change: transform;
}
.index-mobile .index-mobile-landing .index-mobile-landing-box:nth-child(2) {
  display: none;
}
.index-mobile .index-mobile-landing .index-mobile-landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  display: grid;
  width: 100%;
}
.index-mobile .index-mobile-landing .index-mobile-landing-text .text-box {
  padding: 0.5rem 2rem;
  background-color: #F7F8F7;
}
.index-mobile .index-mobile-landing .index-mobile-landing-text .text-1 {
  position: relative;
  top: 10px;
  margin-right: 2rem;
  display: inline-block;
  border-radius: 0 10rem 0 0;
}
.index-mobile .index-mobile-landing .index-mobile-landing-text .text-2 {
  margin-left: 2rem;
  border-radius: 0 0 0 10rem;
}
@media screen and (min-width: 550px) {
  .index-mobile .index-mobile-landing .index-mobile-landing-text .text-2 {
    display: inline-block;
  }
}
.index-mobile .index-mobile-landing .index-mobile-landing-text h1 {
  color: #4CAF50;
  margin: 0;
  font-size: 30px;
}
@media screen and (max-width: 880px) {
  .index-mobile .index-mobile-landing .index-mobile-landing-text h1 {
    font-size: 20px;
    font-size: 5vw;
  }
}
@media screen and (max-width: 330px) {
  .index-mobile .index-mobile-landing .index-mobile-landing-text h1 {
    font-size: 20px;
    font-size: 4w;
  }
}
.index-mobile .index-mobile-technology {
  display: grid;
  background-size: 100%;
  min-height: 20vh;
}
.index-mobile .index-mobile-technology .index-mobile-technology-description {
  padding: 0 1rem;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}
.index-mobile .index-mobile-technology .index-mobile-technology-description h4 {
  margin-top: 1rem;
  color: white;
  padding-top: 2rem;
}
.index-mobile .index-mobile-technology .index-mobile-technology-description .index-mobile-technology-link {
  align-self: center;
}
.index-mobile .index-mobile-technology .index-mobile-technology-description .index-mobile-technology-link button {
  color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.index-mobile > * {
  margin-bottom: 1rem;
}
/**
 *  This file holds the stylings for the team page
 *  It shows a grid of all team members
 */
.team {
  background-color: white;
}
.team .team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
/**
 *  This file holds the stylings for a single team member
 *  It shows a picture of the member, his/her name and the function
 */
.team-member {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 2rem;
}
.team-member img {
  border-radius: 50%;
  font-size: 20px;
  width: 150px;
  height: 150px;
}
.team-member h4 {
  margin: 0;
  margin-top: 15px;
  font-size: 20px;
  font-weight: normal;
}
.team-member p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
/**
 *  This file holds the stylings for the technology page
 *  It showcases all our technology in a grid
 */
.technology {
  margin-bottom: 2rem;
}
.technology .technology-grid {
  display: grid;
  grid-gap: 2rem;
}
/**
 *  This file holds the stylings for the team page
 *  It shows a grid of all team members
 */
.technology-showcase {
  position: relative;
}
.technology-showcase .technology-showcase-image {
  width: 100%;
  max-height: 30rem;
}
.technology-showcase .technology-showcase-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: rgba(187, 217, 171, 0.9);
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  -moz-transition: width 0.5s;
}
.technology-showcase .technology-showcase-banner .text {
  padding: 2rem;
  max-width: 20vw;
}
.technology-showcase .technology-showcase-banner .text h2 {
  font-size: 35px;
}
@media screen and (max-width: 1200px) {
  .technology-showcase .technology-showcase-banner .text {
    max-width: 30vw;
  }
}
.technology-showcase:hover .technology-showcase-banner {
  width: 50%;
}
/**
 *  These are the styles for the Technology showcase on mobile
 */
.technology-mobile-showcase .technology-showcase-image {
  width: 100%;
}
.technology-mobile-showcase .technology-showcase-banner {
  border: 1px solid black;
  padding: 1rem;
}
.technology-mobile-showcase .technology-showcase-banner h2 {
  margin-top: 1rem;
  font-size: 5vw;
}
.technology-mobile-showcase .technology-showcase-banner p {
  font-size: 3vw;
}
/**
 *  This file holds the stylings for the funding page
 *  It showcases all our fundings in a grid
 */
.funding .funding-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 22rem));
  justify-content: center;
}
/**
 *  This file holds the stylings for a single funding showcase
 */
.funding-showcase {
  background-color: white;
  display: grid;
  grid-template-rows: min-content minmax(16rem, 1fr);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
}
.funding-showcase p {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.funding-showcase .funding-showcase-header {
  border-bottom: 1px solid #eeeeee;
  padding: 2rem;
}
.funding-showcase .funding-showcase-header h3,
.funding-showcase .funding-showcase-header p {
  margin: 0;
}
.funding-showcase .funding-showcase-content {
  padding: 2rem;
}
.funding-showcase:hover .funding-showcase-header {
  background-color: #fafafa;
  border-bottom: 1px solid #A9A9A9;
}
/**
 *  This file holds the stylings for the contact page
 */
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
@media screen and (max-width: 1200px) {
  .contact {
    grid-template-columns: 1fr;
  }
}
/**
 *  These are the styles for the form in the contact area
 */
.form-container .form-title {
  text-align: center;
}
.form-container .form-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.form-container .form-group label {
  order: -1;
  flex: 1 0 100%;
}
.form-container .form-group input,
.form-container .form-group textarea {
  flex-grow: 1;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-container .form-group .form-name {
  flex-grow: 0.48;
}
@media screen and (max-width: 600px) {
  .form-container .form-group .form-name {
    flex-grow: 1;
  }
}
.form-container .form-group textarea {
  resize: none;
}
.form-container .form-group input:focus {
  border-color: #4CAF50;
}
.form-container button {
  color: white;
  background-color: #4CAF50;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
}
.form-container button:hover {
  background-color: #45a049;
  cursor: pointer;
}
/**
 *  These are the styles for the map shown on the contact page
 */
.map-container {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: min-content 20rem;
}
.map-container .map {
  height: 100%;
  width: 100%;
  border: 5px solid white;
}
/**
 *  This file holds the stylings for the contact info
 */
.contact-info .contact-info-title {
  text-align: center;
}
.contact-info .contact-info-boxes {
  display: grid;
  margin-top: 2.3rem;
}
.contact-info .contact-info-boxes .contact-info-box {
  margin: 1rem 0;
  padding: 1rem 2rem;
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.contact-info .contact-info-boxes .contact-info-box svg {
  width: 3rem;
  justify-self: center;
  font-size: 25px;
}
.contact-info .contact-info-boxes .contact-info-box .contact-info-box-text {
  display: grid;
}
.contact-info .contact-info-boxes .contact-info-box .contact-info-box-text h3,
.contact-info .contact-info-boxes .contact-info-box .contact-info-box-text p {
  margin: 0;
}
